body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('blackBackground.png');
    background-size: cover;
}

.flashlight {
    position: absolute;
    width: 100px; /* Adjust the flashlight size as needed */
    height: 100px; /* Adjust the flashlight size as needed */
    background-color: rgba(255, 255, 0, 0.6); /* Yellow with 60% transparency */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.second-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('secondBackground.png');
    background-size: cover;
}

.buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 2px solid #232020;
}

.button {
    position: absolute;
    top: 350px;
    left: 700px;
    width: 100px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #232020;
    color: #232020;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #c2b93f;
}


